*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    text-align: center;
    margin: 20px 0 50px 0;
}
.header h4{
    cursor: pointer;
    font-size: 21px;
    letter-spacing: 2px;
    margin-top: 20px;
}
.header h4:hover{
    color: #ce8460;
}
.nav{
    width: 100%;
    border-top: 3px solid #969696;
    border-bottom: 3px solid #969696;
}
.nav>ul{
    display:flex;
    justify-content: center;
    padding: 20px 0;
}
.nav>ul>li{
    position: relative;
    list-style: none;
    margin: 0 20px;
}
.nav li a{
    color: #333;
    text-decoration: none;
}
.nav li a:hover{
    color: #8e6652;
}
.nav ul li ul{
    display: none;
    position: absolute;
    top: 30px;
    background: #f2f2f2;
    padding: 10px;
    width: 80px;
}
.nav ul li ul li{
    list-style: none;
}
.nav ul li li{
    margin: 5px 0;
}
.nav>ul>li:hover ul{
    display: block;
}
.about p{
    width: 600px;
    margin: auto;
}